/* _colors.scss */
.container {
  position: relative; }

.head {
  top: 50px;
  right: -30px;
  width: 50px;
  height: 50px;
  border: 10px solid #000;
  position: absolute;
  border-radius: 100%; }

.body {
  top: 120px;
  right: 0px;
  width: 10px;
  height: 100px;
  position: absolute;
  background: #000; }

.rope {
  top: 0;
  right: 0;
  width: 10px;
  height: 50px;
  position: absolute;
  background: #000; }

.horizontal-rope {
  width: 200px;
  height: 10px;
  background: #000;
  margin-left: 120px; }

.stick {
  width: 10px;
  height: 400px;
  background: #000;
  margin-left: 120px; }

.base {
  width: 250px;
  height: 10px;
  background: #000; }

.right-arm {
  top: 150px;
  right: -90px;
  width: 100px;
  rotate: -30deg;
  height: 10px;
  position: absolute;
  background: #000;
  transform-origin: left botton; }

.left-arm {
  top: 150px;
  right: 0;
  width: 100px;
  rotate: 30deg;
  height: 10px;
  position: absolute;
  background: #000;
  transform-origin: right botton; }

.right-leg {
  top: 250px;
  right: -70px;
  width: 100px;
  rotate: 60deg;
  height: 10px;
  position: absolute;
  background: #000;
  transform-origin: left botton; }

.left-leg {
  top: 250px;
  right: -20px;
  width: 100px;
  rotate: -60deg;
  height: 10px;
  position: absolute;
  background: #000;
  transform-origin: right botton; }
