/* _colors.scss */
.container {
  gap: 0.25em;
  display: flex;
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-transform: uppercase; }

.underline {
  border-bottom: 0.1em solid #000; }

.letter-Visibility {
  visibility: hidden; }
