@import "../../styles.scss";

.container {
  gap: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
}

.btn {
  color: $dark;
  width: 100%;
  cursor: pointer;
  border: 3px solid $dark;
  padding: 0.5rem;
  font-size: 2.5rem;
  background: none;
  font-weight: bold;
  aspect-ratio: 1/1;
  text-transform: uppercase;
}

.btn.active {
  color: $light;
  background-color: hsl(200, 100%, 50%);
}

.btn.inactive {
  opacity: 0.3;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: hsl(200, 100%, 75%);
}
